body {
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url('logo.png') no-repeat center center fixed;
  background-size: 400px;
  background-blend-mode: overlay;
  color: white;
}

.container {
  max-width: 1000px;
  margin:auto;
  padding:20px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
}

input, select, button {
  padding:10px;
  width:100%;
  margin-bottom:10px;
  border-radius:5px;
  border:none;
}

button {
  background:#0b3d91;
  color:white;
  cursor:pointer;
}
